<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Pristine Para Validar campos </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>



<style>
  .form-group .text-help {
    color: #dc1d34;
  }

  .has-danger .form-control {
    border-bottom: 2px solid #dc1d34;
  }
</style>
<main role="main" class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">

        <h1 class="text-center">Crie sua conta ou entre</h1>
        <p class="text-center lead">
          Faça login ou crie sua conta abaixo
        </p>




        <div class="row">

          <div class="col-lg">
            <h4>Faça seu cadastro</h4>
            <form id="formElem" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-group">
                <label for="exampleInputEmail1">Nome <small class="form-text text-muted">Só seu primeiro
                    Nome</small></label>
                <input type="text" required class="form-control" name="nome" aria-describedby="emailHelp"
                  placeholder="Nome">

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email <small class="form-text text-muted">Use um email
                    valido</small></label>
                <input type="email" required class="form-control" name="email" id="email" aria-describedby="emailHelp"
                  placeholder="Email">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Senha <small class="form-text text-muted">Mínimo 5
                    caracteres</small></label>
                <input type="password" minlength="5" required autocomplete="password" class=" form-control" name="senha"
                  placeholder="Senha">


              </div>
              <br>
              <button type="submit" id="criar" class="btn btn-primary">Criar conta</button>

            </form>

          </div>
          <div class="col-lg">
            <h4>Faça Login</h4>
            <form id="formLogin" action="/login" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-group">
                <label for="exampleInputEmail1">Email <small class="form-text text-muted">Use o mesmo email que criou
                    sua conta</small></label>
                <input type="email" required class="form-control" name="email" aria-describedby="emailHelp"
                  placeholder="Email">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Senha <small class="form-text text-muted">Mínimo 5
                    caracteres</small></label>
                <input type="password" minlength="5" required autocomplete="password" class="form-control" name="senha"
                  placeholder="Senha">


              </div>
              <br>
              <button type="submit" id="logar" class="btn btn-primary">Entrar</button>

            </form>
          </div>

        </div>

      </div>
      <div class="col-lg-2">


      </div>
    </div>

  </div>
</main>
<script src="https://combinatronics.com/Sha256/Pristine/master/dist/pristine.js"></script>
<script>
  const criar = () => {
    var form = document.querySelector("#formElem");
    var enviar = document.getElementById("criar");


    Pristine.setLocale('pt')
    Pristine.addMessages("pt", {
      required: "Este campo é obrigatório",
      email: "Escreva um email valido",
      minlength: "Deve ter no mínimo ${1} caracteres",
    })

    const pristine = new Pristine(form)


    enviar.addEventListener("click", async function (event) {
      const valid = pristine.validate();

      var serialize = function (form) {
        var json = {};
        var data = new FormData(form);
        var keys = data.keys();
        for (var key = keys.next(); !key.done; key = keys.next()) {
          var values = data.getAll(key.value);
          json[key.value] = values.length == 1 ? values[0] : values;
        }
        return json;
      }
      event.preventDefault();
      var json = serialize(form);

      if (valid) {

        const rawResponse = await fetch('/criaruser', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(json)
        });

        const content = await rawResponse.json();

        console.log("resposta do server", content);


      }

    });
  }
  criar()

  const logar = () => {

    var form = document.querySelector("#formLogin");
    var enviar = document.getElementById("logar");

    Pristine.setLocale('pt')
    Pristine.addMessages("pt", {
      required: "Este campo é obrigatório",
      email: "Escreva um email valido",
      minlength: "Deve ter no mínimo ${1} caracteres",
    })

    const pristine = new Pristine(form)


    enviar.addEventListener("click", async function (event) {
      const valid = pristine.validate();
      var serialize = function (form) {
        var json = {};
        var data = new FormData(form);
        var keys = data.keys();
        for (var key = keys.next(); !key.done; key = keys.next()) {
          var values = data.getAll(key.value);
          json[key.value] = values.length == 1 ? values[0] : values;
        }
        return json;
      }
      event.preventDefault();
      var json = serialize(form);


      if (valid) {
        const rawResponse = await fetch('/login', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(json)
        });
        const content = await rawResponse.json();


        const {
          err,
          token
        } = content

        if (err) {

          console.log('erros', err);
        }
        if (token) {
          console.log('token');
          document.cookie = `token=${token};path=/`;
        }
        console.log("resposta do server", content);

      }
    });
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>
